@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
}

footer {
  background-color: #f85606;
  color: white;
  height: calc(100vh - 92vh);
  padding-bottom:0 ;
  font-family: "Fira Sans", sans-serif;
}

header {
  background-color: #f85606;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;

  font-weight: bold;
}

.logo img {
  width: 100px;
  padding: 0 23px;
}

.logo {
  display: flex;

  height: 8vh;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

nav ul {
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0px 23px;
}

.container {
  min-height: calc(100vh - 24vh);
}

#search {
  width: 40vw;
  border-radius: 10px;
  border-color: white;
}

.searchbar {
  height: 20px;
  padding: 0px 30px;
  display: flex;
}

.searchbar img {
  width: 30px;

  height: 20px;
  padding: 0px 10px;
}

.searchbar input {
  padding: 0px 10px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
  background-color: #f85606;
  border: none;
  display: block;
}

.icon:hover {
  background-color: #f85606;
  border: 2px solid white;
  border-radius: 30px;
  display: block;
}

.login {
  color: white;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.container {
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.item-holder {
  background-color: white;

  list-style: none;
  display: inline-block;
  width: 210px;
  height: 210px;
  border-radius: 10px;
  margin: auto;
}

.text-holder {
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 40px;
  text-align: center;
}

.item1 {
  margin-top: 10px;
}

.daraz {
  margin-left: 110px;
  width: 1100px;
  height: 210px;
  border-radius: 20px;
}

.list-holder {
  display: flex;
}
